<mat-card class="book-card-content">
    <mat-card-header>
      <mat-card-title>{{book.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{book.imagePath}}" class="abc" alt="Photo">
    <mat-card-content>
      <p>{{book.author}}</p>
      <p>{{book.genreName}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openBook()">Читать</button>
      <button mat-raised-button color="primary" (click)="deleteBook()">Удалить</button>
    </mat-card-actions>
</mat-card>
  